.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.bat
*.spec
build
dist
assets
tesseract
fonts
README-GUI.md
Docs.md
README.md
config.json
test_*.docx
test_*.udf
EXE_Test_Document.docx
EXE_Test_Document.udf
Updated_EXE_Test.docx
Updated_EXE_Test.udf
kapsamli_liste_test.udf
calisanudfcontent.xml
converted_bold_background.png
converted_lists_background.png
